@page
@model UI_Ragor_Pages.Pages.usernameWelcomeModel
@{
}

<Doctype html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title> Welcome Pages</title>
        <script type="text/javascript"></script>
    </head>
    <body>
       
        <header>
            <h1>Welcome!</h1>
            <div>
               
                <a href="wcho2SignOn"> I am an existing student</a>
            </div>
            <div>
                <a href="wcho2Student">I am a new student</a>
            </div>

        </header>

    </body>

</html>


</Doctype>